<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfSuunnittelijaProjeti2022.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfSuunnittelijaProjeti2022.Properties.Settings1>
            <setting name="textMon" serializeAs="String">
                <value />
            </setting>
            <setting name="textTue" serializeAs="String">
                <value />
            </setting>
            <setting name="textWed" serializeAs="String">
                <value />
            </setting>
            <setting name="textThu" serializeAs="String">
                <value />
            </setting>
            <setting name="textFri" serializeAs="String">
                <value />
            </setting>
            <setting name="textSat" serializeAs="String">
                <value />
            </setting>
            <setting name="textSun" serializeAs="String">
                <value />
            </setting>
            <setting name="noteMon" serializeAs="String">
                <value />
            </setting>
        </WpfSuunnittelijaProjeti2022.Properties.Settings1>
    </userSettings>
</configuration>